@charset="utf-8";

html, body, div,h2 ,p ,ul ,li ,img{
	margin:0;
	padding:0; 
}


article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

body{
    
    background: #969fab;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif ;

}

.container {
    width: 700px;
    margin:30px auto 0;

}

header {
	background: #42517f;
	border-bottom: 1px solid #000;
}


header h2 {

	color:#fff;
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
	font-size:16px;
	word-spacing: 1px;
	text-shadow:1px 1px 2px #000;
}

#contents {
     background: #848c9c;  
	 background:linear-gradient(to top, #848c9c 0%, #687080 50%, #a7b1c5 100%);
     background:-webkit-linear-gradient(bottom, #848c9c 0%, #687080 50%, #a7b1c5 100%); 
     padding-top: 30px;
     padding-bottom: 30px;
     overflow: hidden; 

}



.gallery {

	width:568px;
	margin: auto;
}

.gallery ul{
	list-style: none;
}

.gallery li{

	float:left;
	margin: 10px;
}


.gallery img {
	display:block;
	padding: 5px;
	background: #42517f;
	border:1px solid #99adeb;
    box-shadow: 1px 1px 2px #000;

}


.gallery img:hover {
 
  border:1px solid #000;

}


#choosephoto {

	margin-left: 75px;
	padding-top: 100px;
}

footer {
   background: #222222;
}

footer p {

	 color: #fff;
	 text-align: center;
     font-size: 12px;
     padding-top: 1px;
     padding-bottom: 1px;
}


